# Clé d'authentification Tailscale
# Générez une clé sur : https://login.tailscale.com/admin/settings/keys
# Copiez ce fichier : cp tailscale.env.example tailscale.env
TS_AUTHKEY=tskey-auth-XXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
